.classdiv {
    background-image: url("https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_incoming&w=740&q=80");
    height: 5000px;
    background-attachment: scroll;
    background-repeat:  no-repeat;
}