body{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid black;
    padding: 10px;
}
.first{
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        border: 4px solid rgb(56, 80, 236);
        margin: 5px;
        padding: 5px;
        justify-content: center;
        text-align: center;
}

.first img{
    border: 2px solid gold;
        height: 200px;
        width: 100%;  
}