* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    animation: grow 5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

@keyframes grow {
    0% {
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }

    100% {
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }

}