@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

      * {
        margin: 0px;
        padding: 0px;
        font-family: "poppins";
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(201, 201, 201);
      }

      .card {
        margin: 5px;
        box-shadow: 0px 0px 10px 10px rgb(177, 177, 177);
        padding-bottom: 70px;
        background-color: white;
        width: 198px;
        height: 298px;
        border-radius: 10px;
      }

      .img {
        padding: 5px;
      }
      .img img {
        border-radius: 10px;
        height: 158px;
        width: 188px;
      }

      .capsule span {
        background-color: rgb(237, 237, 237);
        border-radius: 30px;
        padding: 2px 10px;
        margin: 0px 0px 0px 15px;
        font-size: 12px;
      }

      .content h2 {
        font-weight: 500;
        font-size: 20px;
        padding: 8px 0px 8px 8px;
      }
      .content p {
        padding: 0px 15px;
        font-size: 10px;
        color: grey;
      }

      .button {
        padding-top: 10px;
        text-align: center;
      }

      .button button {
        border-radius: 30px;
        padding: 2px 10px;
        border: none;
        font-size: 13px;
        font-weight: 350;
        /* box-shadow: 0px 0px 10px 8px whitesmoke; */
      }

      span:hover,
      button:hover {
        background-color: rgb(114, 162, 246);
        color: white;
        cursor: pointer;
      }

      @media screen and (max-width: 720px) {
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: rgb(201, 201, 201);
        }
      }